body {
	background-size: 100%;
	font-family: 'open_sanslight';
	font-size: 100%;
    color:orange;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('bg.jpg');
	text-align: center;
}


.topnav {
  background-color:#203354;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:orange;
  color: white;
}